.dataRegister{
  padding-bottom: 60vh;
  z-index: 0  ;
}
.register-form input{
  
  outline: 0;
  background: white;
  color: black;
  width: 40%;
  border: 0;
  margin-bottom: 1%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 9pt;
  font-family: ReadexPro;
  border-radius: 5px;
}
.biography{
  resize: vertical;
  width:80%;
  text-align:left;
  max-height: 20vh;
  min-height: 10vh;
  background-color: #ffffff;
  font-size: 13pt;
  font-family: ReadexPro;
}
.register-form select{
  outline: 0;
  background: transparent;
  color: white;
  width: 40%;
  border: 0;
  margin-bottom: 1%;
  padding: 15px;
  border: 3px solid white;
  box-sizing: border-box;
  font-size: 13pt;
  font-family: ReadexPro;
  border-radius: 5px;
}
.register-form select option{
  outline: 0;
  background: #2d34a1;
  color: white;
  border: 0;
  margin-bottom: 1%;
  padding: 15px;
  border: 3px solid white;
  box-sizing: border-box;
  font-size: 12pt;
  font-family: ReadexPro;
  border-radius: 5px;
  width: 50px;
}
.register-form .button{
  letter-spacing: 1pt;
  font-family: "Aldo";
  font-size: 15pt;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #2d34a1;
  width: 40%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  transform: translateZ(0);
}

 .button:hover {
  background-color: #1926da;
  border-bottom: 5pt solid;
  font-size: 17pt;
  border-image: linear-gradient(
    90deg,
    rgba(180, 0, 255, 1) 0%,
    rgba(0, 6, 255, 1) 33%,
    rgba(255, 0, 114, 1) 66%,
    rgba(255, 222, 0, 1) 100%
  );
  border-image-slice: 100 0;
  transform: scale(1.05);
  box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.438);
}
.sex{
  font-size: 10pt;
}
.sex input{
  width: 20px;
  margin-right: 100px;
}
#avatar{
z-index: -2;
opacity: 0;
pointer-events: none;
width: 0.1;
height: 0.1;
padding-top:20px;padding-bottom:35px;
}
#avatar hover{
  border: 3px solid rgb(185, 185, 185);
  background-color: #131eb6;
}
.imgbutton{
  outline: 0;
  background: transparent;
  color: white;
  border: 0;
  padding: 15px;
  border: 3px solid white;
  box-sizing: border-box;
  font-size: 13pt;
  font-family: ReadexPro;
  border-radius: 5px;
}