.data {
  z-index: 0;
  padding-top: 80pt;
  padding-bottom: 5%;
  width: 80%;
  background-color: #181b3f;
  margin-left: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2pt solid #1926da;
  border-left: 2pt solid #1926da;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gameInfo {
  padding: 2% 0 0 2%;
  float: right;
  display: flex;
  height: 40vh;
  margin-bottom: 5%;

  width: 98%;
}
#gameInfo img {
  height: 80%;
}
#gameInfo a {
  color: white;
  text-decoration: underline;
}
.userText {
  padding-left: 1%;
  width: 90%;
  height: 100%;
}
.userName {
  font-weight: bold;
  font-size: 30pt;
}
.btnEdit {
  letter-spacing: 1pt;
  font-family: "Aldo";
  font-size: 15pt;
  font-weight: bold;
  outline: 0;
  background: #2d34a1;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  transform: translateZ(0);
  width: 60%;
  margin-top: 40%;
  height: 20%;
}
.btnEdit:hover {
  background-color: #1926da;
  border-bottom: 5pt solid;
  font-size: 17pt;
  border-image: linear-gradient(
    90deg,
    rgba(180, 0, 255, 1) 0%,
    rgba(0, 6, 255, 1) 33%,
    rgba(255, 0, 114, 1) 66%,
    rgba(255, 222, 0, 1) 100%
  );
  border-image-slice: 100 0;
  transform: scale(1.05);
  box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.438);
}
#bottomElements {
  height: 60%;
  padding: 0 0 0 2%;
}
.border {
  width: 5pt;
  margin: 5% 0;
  background-image: url("./images/gradient.png");
  background-size: cover;
}
.listasPerfil {
  width: 98%;
  margin: 1%;
  height: 96%;
}
.lista {
  border-radius: 7px;
  width: 80%;
  height: 80%;
  max-height: 80%;
  margin: 2% 10%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}
.itemLista {
  display: flex;
  padding: 5px 10px;
  margin: 10px 5px;
  background-color: #2d34a1;
  border-radius: 3px;
  height: 100px;
}
.itemLista p {
  color: white;
  text-align: right;
}
.itemLista div {
  color: white;
  margin: auto;
  text-align: left;
}
.pontos {
  filter: invert(100%);
  height: 20pt;
}

.menu {
  position: relative;
  display: inline-block;
  background-color: #2d34a1;
  top: 0;
  border-radius: 5px;
}

.menuContent {
  display: none;
  position: absolute;
  left: 35pt;
  top: 0;
  border-radius: 5px;
}

.menuContent a {
  color: white;
  font-size: 13pt;
  text-decoration: none;
  display: block;
  padding: 10pt;
  border-bottom:2pt solid #000438;
  background-color: #2d34a1;
}
.menuContent a:last-child{
  border-bottom:none;
}

.menuContent a:hover {
  background-color: #1926da;
}
/* Show the dropdown menu on hover */

.menu:hover .menuContent {
  display: block;
  box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.1);

}

.menuBtn {
  background-color: transparent;
  display: block;
  width: 35pt;
  color: white;
  border: none;
  height: 25pt;
  font-family: ReadexPro;
  font-size: 13pt;
  padding:5pt 0 5pt 0;
  top: 0;
  border-radius: 5px;
}

.menu:hover .menuBtn {
  background-color: #1926da;
}

#trailer{
  aspect-ratio: 16 / 9;
  width: 60%;
  margin-left:20%;
  margin-bottom: 5%;
}
@supports not (aspect-ratio: 16/9) {
   #trailer{
     display:none;
   }
}