  #slider {
      position: absolute;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      border-bottom: 5pt white solid;
      border-image: linear-gradient(
        90deg,
        rgba(180, 0, 255, 1) 0%,
        rgba(0, 6, 255, 1) 33%,
        rgba(255, 0, 114, 1) 66%,
        rgba(255, 222, 0, 1) 100%
      );
      border-image-slice: 60 30;
      box-sizing: border-box;
  }

  #slider ul {
      position: relative;
      list-style: none;
      height: 100%;
      width: 10000%;
      padding: 0;
      margin: 0;
      transition: all 2000ms ease;
      left: 0;
  }

  #slider ul li {
      position: relative;
      height: 100vh;

      float: left;
  }

  #slider ul li img {
      width: 100vw;
      height: 100vh;
      filter:saturate(0.5) brightness(30%);
  }
  .register-button , .login-button{
      display: inline;
  }