.data {
  z-index: 0;
  padding-top: 80pt;
  padding-bottom: 20pt;
  width: 80%;
  background-color: #181b3f;
  margin-left: 10%;
  height: calc(100vh - 100pt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2pt solid #1926da;
  border-left: 2pt solid #1926da;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.listasPerfil {
  width: 48%;
  margin: 1%;
  height: 96%;
}
.lista {
  border-radius: 7px;
  width: 80%;
  height: 80%;
  margin: 2% 10%;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.5);
}
.itemLista {
  display: flex;
  padding: 5px 10px;
  margin: 10px 5px;
  background-color: #2d34a1;
  border-radius: 3px;
  height: 100px;
}
.itemLista p {
  color: white;
  margin: auto;
  text-align: center;
}
