    .data {
        z-index: 0;
        padding-top: 80pt;
        padding-bottom: 5%;
        width: 80%;
        background-color: #181b3f;
        margin-left: 10%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: -1;
        flex-direction: column;
        justify-content: space-between;
        border-right: 2pt solid #1926da;
        border-left: 2pt solid #1926da;
        animation: fadeInAnimation ease 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    #userInfo {
        padding: 2% 0 0 2%;
        float: right;
        display: flex;
        height: 40vh;
        width: 98%;
        margin-bottom: 10vh
    }
    
    #userInfo:before {
        content: "";
        float: left;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }
    
    #avatar {
        position: relative;
        height: 80%;
        border: 3pt solid #000a92;
    }
    
    .userText {
        padding-left: 1%;
        width: 90%;
        height: 100%;
    }
    
    .userName {
        font-weight: bold;
        font-size: 30pt;
    }
    
    .btnEdit {
        letter-spacing: 1pt;
        font-family: "ReadexPro";
        font-size: 15pt;
        font-weight: bold;
        outline: 0;
        background: #2d34a1;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.2s;
        transform: translateZ(0);
        width: 60%;
        margin-top: 40%;
        height: 20%;
    }
    
    .pontos {
        filter: invert(100%);
        height: 20pt;
    }
    
    .menu {
        position: relative;
        display: inline-block;
        background-color: #2d34a1;
        top: 0;
        border-radius: 5px;
    }
    
    .menuContent {
        display: none;
        position: absolute;
        left: 35pt;
        top: 0;
        border-radius: 5px;
    }
    
    .menuContent a {
        color: white;
        font-size: 13pt;
        text-decoration: none;
        display: block;
        padding: 10pt;
        border-bottom:2pt solid #000438;
        background-color: #2d34a1;
    }
    .menuContent a:last-child{
        border-bottom:none;
    }
    
    .menuContent a:hover {
        background-color: #1926da;
    }
    /* Show the dropdown menu on hover */
    
    .menu:hover .menuContent {
        display: block;
        box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.1);

    }
    
    .menuBtn {
        background-color: transparent;
        display: block;
        width: 35pt;
        color: white;
        border: none;
        height: 25pt;
        font-family: ReadexPro;
        font-size: 13pt;
        padding:5pt 0 5pt 0;
        top: 0;
        border-radius: 5px;
    }

    .menu:hover .menuBtn {
        background-color: #1926da;
    }
    
    .btnEdit:hover {
        background-color: #1926da;
        border-bottom: 5pt solid;
        font-size: 17pt;
        border-image: linear-gradient( 90deg, rgba(180, 0, 255, 1) 0%, rgba(0, 6, 255, 1) 33%, rgba(255, 0, 114, 1) 66%, rgba(255, 222, 0, 1) 100%);
        border-image-slice: 100 0;
        transform: scale(1.05);
        box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.438);
    }
    
    .border {
        width: 3pt;
        margin: 5% 0;
        background-image: url("./images/gradient.png");
        background-size: cover;
        height: 48vh;
    }
    
    .listasPerfil {
        width: 48%;
        margin: 1%;
        height: 80%;
    }
    
    .lista {
        border-radius: 7px;
        width: 80%;
        height: 100%;
        margin: 2% 10%;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .itemLista {
        display: flex;
        padding: 5px 10px;
        margin: 10px 5px;
        background-color: #2d34a1;
        border-radius: 3px;
        height: 100px;
    }
    
    .itemLista p {
        color: white;
        margin: auto;
        text-align: center;
    }
    
    .commentWriter {
        height: 50px;
        width: inherit;
        vertical-align: middle;
        padding: 4pt;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 20%);
        border-bottom: solid 2pt #1926da;
        border-image-source: linear-gradient(90deg, #1926da 0%, rgba(0, 0, 0, 0) 40%);
        border-image-slice: 100 0;
    }
    
    .commentWriter img {
        height: 44px;
        border: solid 3pt black;
        border-image-source: linear-gradient(45deg, rgba(180, 0, 255, 1) 0%, rgba(0, 6, 255, 1) 50%, rgba(255, 0, 114, 1) 100%);
        border-image-slice: 1;
    }
    
    .commentWriterUsername {
        margin-left: 7pt;
        margin-bottom: 7pt;
    }
    
    .commentArea {
        resize: vertical;
        width: 100%;
        max-height: 20vh;
        min-height: 5vh;
        background-color: #ffffff;
        font-size: 13pt;
        font-family: ReadexPro;
    }
    
    .commentSubmit {
        margin-left: 90%;
        margin-top: 2%;
        width: 10%;
        letter-spacing: 1pt;
        font-family: "Aldo";
        font-size: 15pt;
        font-weight: bold;
        outline: 0;
        background: #2d34a1;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.2s;
        transform: translateZ(0);
        height: 5vh;
    }
    
    .commentSubmit:hover {
        background-color: #1926da;
        border-bottom: 5pt solid;
        font-size: 17pt;
        border-image: linear-gradient( 90deg, rgba(180, 0, 255, 1) 0%, rgba(0, 6, 255, 1) 33%, rgba(255, 0, 114, 1) 66%, rgba(255, 222, 0, 1) 100%);
        border-image-slice: 100 0;
        transform: scale(1.05);
        box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.438);
    }
    
    .commentSection {
        height: auto;
        width: 90%;
        margin-left: 5%;
    }
    
    .commentSection h1 {
        width: inherit;
        margin-bottom: 3vh
    }
    
    .comment {
        border: solid 2pt #1926da;
        border-top: none;
        border-right: none;
        width: 100%;
        height: auto;
        margin-bottom: 3vh;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.6) 100%);
    }
    
    .commentHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5pt;
        border-bottom: solid 1pt #1926da;
        padding: 4pt;
    }
    
    .commentSection .commentAuthor img {
        box-sizing: border-box;
        height: 5vh;
        border: solid 2pt black;
        border-image-source: linear-gradient(45deg, rgba(180, 0, 255, 1) 0%, rgba(0, 6, 255, 1) 50%, rgba(255, 0, 114, 1) 100%);
        border-image-slice: 100 0;
        border-image-slice: 1;
    }
    
    .commentSection .commentAuthor p {
        display: inline;
    }
    
    .commentText {
        padding: 3pt;
        border-top: transparent;
        border-right: transparent;
        white-space: pre;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        display: block
    }
