.data {
  
  z-index: 0;
  padding-top: 120pt;
  width: 80%;
  background-color: #181b3f;
  margin-left: 10%;
  height: calc(100vh - 120pt);
  flex-direction: column;
  justify-content: space-between;
  border-right: 2pt solid #1926da;
  border-left: 2pt solid #1926da;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.play {
  letter-spacing: 1pt;
  font-family: "Aldo";
  align-self: center;
  text-align: center;
  text-decoration: none;
  font-size: 23pt;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #2d34a1;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
  transform: translateZ(0);
  margin-bottom: 2%;
}

.play:hover {
  background-color: #1926da;
  border-bottom: 2pt solid;
  border-image: linear-gradient(
    90deg,
    rgba(180, 0, 255, 1) 0%,
    rgba(0, 6, 255, 1) 33%,
    rgba(255, 0, 114, 1) 66%,
    rgba(255, 222, 0, 1) 100%
  );
  border-image-slice: 100 0;
  box-shadow: 0px 9px 21px 8px rgba(0, 0, 0, 0.438);
}
